{
    "vim.easymotion": true,
    "vim.incsearch": true,
    "vim.useSystemClipboard": true,
    "vim.useCtrlKeys": true,
    "vim.hlsearch": true,
    "vim.smartRelativeLine": true,
    "editor.cursorSurroundingLines": 8,
    "vim.insertModeKeyBindings": [
        {
            "before": [
                "j",
                "k"
            ],
            "after": [
                "<Esc>"
            ]
        }
    ],
    "vim.leader": ",",
    "vim.handleKeys": {
        "<C-a>": false,
        "<C-f>": false
    },
    "vim.statusBarColorControl": true,
    "vim.statusBarColors.normal": [
        "#8FBCBB",
        "#000"
    ],
    "vim.statusBarColors.insert": [
        "#BF616A",
        "#000"
    ],
    "vim.statusBarColors.visual": [
        "#B48EAD",
        "#000"
    ],
    "vim.statusBarColors.visualline": [
        "#B48EAD",
        "#000"
    ],
    "vim.statusBarColors.visualblock": [
        "#A3BE8C",
        "#000"
    ],
    "vim.statusBarColors.replace": "#D08770",
    "vim.statusBarColors.commandlineinprogress": "#007ACC",
    "vim.statusBarColors.searchinprogressmode": "#007ACC",
    "vim.statusBarColors.easymotionmode": "#007ACC",
    "vim.statusBarColors.easymotioninputmode": "#007ACC",
    "vim.statusBarColors.surroundinputmode": "#007ACC",
    "vim.highlightedyank.enable": true,
    "vim.highlightedyank.color": "#a9dc7660",
    "vim.highlightedyank.duration": 250,
    "workbench.colorCustomizations": {
        "statusBar.background": "#B48EAD",
        "statusBar.noFolderBackground": "#B48EAD",
        "statusBar.debuggingBackground": "#B48EAD",
        "statusBar.foreground": "#000",
        "statusBar.debuggingForeground": "#000"
    },
    "vim.normalModeKeyBindings": [
        {
            "before": [
                "g",
                "p",
                "d"
            ],
            "commands": [
                "editor.action.peekDefinition"
            ]
        },
        {
            "before": [
                "g",
                "h"
            ],
            "commands": [
                "editor.action.showDefinitionPreviewHover"
            ]
        },
        {
            "before": [
                "g",
                "i"
            ],
            "commands": [
                "editor.action.goToImplementation"
            ]
        },
        {
            "before": [
                "g",
                "p",
                "i"
            ],
            "commands": [
                "editor.action.peekImplementation"
            ]
        },
        {
            "before": [
                "g",
                "q"
            ],
            "commands": [
                "editor.action.quickFix"
            ]
        },
        {
            "before": [
                "g",
                "r"
            ],
            "commands": [
                "editor.action.referenceSearch.trigger"
            ]
        },
        {
            "before": [
                "g",
                "t"
            ],
            "commands": [
                "editor.action.goToTypeDefinition"
            ]
        },
        {
            "before": [
                "g",
                "p",
                "t"
            ],
            "commands": [
                "editor.action.peekTypeDefinition"
            ]
        },
        {
            "before": [
                "<leader>",
                "e"
            ],
            "commands": [
                "workbench.view.explorer"
            ]
        }
    ],
    "vim.normalModeKeyBindingsNonRecursive": [
        {
            "before": [
                "<leader>",
                "d"
            ],
            "after": [
                "d",
                "d"
            ]
        },
        {
            "before": [
                "<C-n>"
            ],
            "commands": [
                ":nohl"
            ]
        },
        {
            "before": [
                "K"
            ],
            "commands": [
                "lineBreakInsert"
            ],
            "silent": true
        }
    ],
    "vim.visualModeKeyBindingsNonRecursive": [
        {
            "before": [
                ">"
            ],
            "commands": [
                "editor.action.indentLines"
            ]
        },
        {
            "before": [
                "<"
            ],
            "commands": [
                "editor.action.outdentLines"
            ]
        }
    ],
    "window.autoDetectColorScheme": false
}